
#body .breadcrumb {
    &-wrapper {
        margin-bottom: 4*$unit;;
        text-align: center;
        background-color: $color-secondary;
    }
    display: inline-block;
    margin: 0 auto;
    padding: 2*$unit 0 1.5*$unit 0;
    text-align: center;
    background-color: $color-secondary;
    &-item {
        display: inline-block;
    }
}
